# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
*.iml
.idea/
.vscode/
# Generated
*.g.dart
*.freezed.dart
# OS
.DS_Store
Thumbs.db
# DB lokal
*.sqlite
*.db
backup/
